* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* INIZIO HEADER */
.block-header {
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.left-header > div, .right-header > div {
    padding: 0.5rem 2.5rem;
}

.blue-link {
    background-color: rgb(7, 151, 241);
    padding: 0.5rem 1rem;
}

a {
    text-decoration: none;
    color: #fff;
}


.left-header div:nth-child(2):hover {
    border-bottom: 1px solid black;

}

/* FINE HEADER */

/* INIZIO MAIN */

/* <!-- FIRST-BLOCK INIZIO--> */

.container-1-block {
    background-color: rgb(75, 212, 212);
    flex-wrap: wrap; 
}

.block-title {
    font-size: 4em;
    margin: 2rem 0;
}

.first-block {
    width: 1400px;
    flex-wrap: wrap;
    margin-top: 8rem;
    align-items: flex-end;
}

.left-sub-title {
    width: 40%;  
    height: 25rem;
}

.left-sub-title > p  {
    margin-bottom: 2rem;
}

.inline-link {
    display: inline-block;
    margin-bottom: 2rem;
}

.fa-arrow-down {
    font-size: 3rem;   
    margin-top: 4rem;
}

.arrow-link {
    background-color: #ffffff00;
    color: black;
}

.right-sub-title {
    width: 60%;
    height: 25rem;
}

div img {
    width: 100%;
}
/* <!-- FIRST-BLOCK FINE--> */

/* <!-- BLOCCO-SELETTORI INIZIO--> */
.container-2-block {
    margin-top: 8rem;
}

.title-2-block {
    font-size: 2em;
    margin-bottom: 2rem
}

.selezione {
    margin-bottom: 1rem;
}

label {
    margin-right: 2rem;
}
/* <!-- BLOCCO-SELETTORI FINE--> */

/* <!-- BLOCCO-CARDS INIZIO --> */
ul {
    list-style-type: none;
}

.link-line {
    text-decoration: underline;
    color: rgb(7, 151, 241);
    background-color: #ffffff00;

}

.second-block {
    width: 1200px;
}

.cards-block {
    gap: 4.5rem;

}

.card-content-padding {
    padding: 1rem;
}

#cards-linee {
    margin-left: 0;
    margin-top: 2rem;

}
.card-content-padding * {
    margin-top: 0.5rem;
    
}


.link-abbonament {
    margin-bottom: 2rem;
    display: block;
    text-align: center;
}


.card {
    width: calc(100% / 3 - 3rem);
    margin: 1rem 0;
    min-height: 50rem;
    border: 1px solid black;
}

.card div:first-child{
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}
/* <!-- BLOCCO-CARDS FINE --> */

/* <!-- BLOCCO-SUB-CARDS INIZIO --> */
.block-sub-cards {
    margin-top: 2rem;
    min-height: 10rem;
    border: 1px solid black;
    
}

.title-sub-cards {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 0.5rem;
    
}

.left-sub-cards {
    width: 70%;
    padding: 1.5rem;

}
.left-sub-cards p:first-of-type{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.right-sub-cards {
    width: 30%;
    text-align: end;
    padding: 1.5rem;
    margin-bottom: 4.5rem;
}
/* <!-- BLOCCO-SUB-CARDS FINE --> */

/* <!-- BLOCCO IMG E TEXT SUB-CARDS INIZIO --> */
.post-cards {
    margin: 3rem 0;
    align-items: flex-start;

}

.post-left {
    width: 60%;
    
}

.post-right {
    width: 40%;
    padding: 3rem;
    
}

.post-right * {
    margin-bottom: 2rem;
}

#link-white-border-black {
    border: 1px solid black;
    background-color: #fff;
    color: black;
    margin: 0.5;
    display: inline-block;
}
/* <!-- BLOCCO IMG E TEXT SUB-CARDS FINE --> */

/* <!-- BLOCCO-SECOND CARDS INIZIO --> */
.title-secondary-cards {
    font-size: 3em;
}

.secondary-cards-block {
    min-height: 35rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.secondary-cards {
    width: calc(100% / 3 - 2rem);
    margin: 2rem 0;
    min-height: 15rem;
}
.secondary-cards * {
    margin-bottom: 0.5rem;
    
}

.img-secondary-cards > img {
    width: 100%;
 }
/* <!-- BLOCCO-SECOND CARDS FINE --> */

/* <!-- BLOCCO TITLE COLOR BOX INIZIO --> */
.title-colorbox {
    min-height: 15rem;
    margin-top: 3rem;
}

.title-colorbox > h3 {
    margin-bottom: 0.5rem;
    font-size: 2em;
}

.title-colorbox > a {
    margin-top: 2.5rem;
    display: block;
    padding: 0;
}

.color-box-left div:first-child {
    background-color: rgb(93, 245, 194);
    animation-duration: 1s;
       
}

.color-box-left div:first-child:hover {
    border: 20px solid rgb(181, 238, 219);
       
}

.color-box-left div:nth-child(2) {
    background-color: brown;

}
.color-box-left div:nth-child(3) {
    background-color: rgb(30, 161, 243);

}
.color-box-left div:last-child {
    background-color: rgb(245, 46, 46);

}

.color-box-right div:first-child {
    background-color: rgb(240, 15, 15);

}
.color-box-right div:nth-child(2) {
    background-color: lightblue;

}
.color-box-right div:nth-child(3) {
    background-color: rgb(0, 56, 141);

}
.color-box-right div:last-child {
    background-color: rgb(230, 170, 59);

}

.box-adw *{
    width: 50%;
    filter: invert(100%) opacity(1);
}

.box-adw {
    width: calc(100% / 2);
    min-height: 20rem;
}

.color-box-container > div {
    width: calc(100% / 3 );
    min-height: 40rem;
    background-color: lightgray;
}

.color-box-center > img{
    width: 40%;
}

.color-box-center *{
    margin-bottom: 2rem;
    padding: 2rem;
}

.linee-little {
    border-bottom: 1px solid lightslategray;
    width: 5rem;
    padding: 0;
    margin-left: 2rem;
}

.color-box-left, .color-box-right {
    flex-wrap: wrap;
}
/* <!-- BLOCCO TITLE COLOR BOX FINE --> */

/* <!-- BLOCCO SUB COLOR BOX INIZIO --> */
.sub-color-container {
    background-color: rgb(139, 209, 226);
}

.sub-color-box {
    width: 1200px;   
}

.sub-color-box-content-left {
    width: 60%;
    min-height: 20rem;
    font-size: 2.5em;
    color: rgb(146, 39, 39);
}

.sub-color-box-content-right {
    width: 60%;
    min-height: 20rem;
}

.sub-color-box-content-right > a{
    color: black;
    background-color: #fff;
    padding: 1rem 2.5rem;
}
/* <!-- BLOCCO SUB COLOR BOX FINE --> */

/* <!-- BLOCCO FAQ INIZIO --> */
.faq-box {
    min-height: 30rem;
    flex-wrap: wrap;
    width: 1200px;
}

.title-faq {
    width: 100%;
    border-bottom: 1px solid black;
}

.title-faq > h3 {
    line-height: 2rem;
    font-size: 1.8em;
    margin-top: 6rem;
    margin-bottom: 2rem;   
}
.title-faq > h4 {
    line-height: 2rem;
    margin-bottom: 1rem;
}

h4 .fa-chevron-down {
    position: relative;
    left: 16rem; 
}

.title-faq > ul {
    display: none;
}

.faq-box .title-faq:last-of-type{
    margin-bottom: 6rem;
}

.title-faq > h4:hover + ul {
    display: block;
}
/* <!-- BLOCCO FAQ FINE --> */

/* <!-- INIZIO FOOTER --> */
.container-footer {
    background-color: rgb(26, 24, 24);
}

.footer-box {
    width: 1400px;
    gap: 1rem;
    
}

.title-footer {
    width: calc(100% / 5 - 4rem);
    min-height: 30rem;
    margin-top: 4rem;
    color: #fff;
}

.title-footer h3 {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
}

.title-footer li {
    margin-bottom: 1rem;
}

#footer-linee {
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 0;
    width: 7rem;
}

.title-footer a {
    background-color: #ffffff00;
    padding: 0;
}

.fa-earth-europe {
    margin-right: 0.5rem;
}
.fa-caret-up {
    margin-left: 0.5rem;
}
/* <!-- FINE FOOTER --> */
